.prompt_container {
    padding-left: 10%;
    padding-right: 10%;
}
#main_prompt {
    color: #9288c5;
    font-size: 5vmax;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
