.prompt_container {
    padding-left: 10%;
    padding-right: 10%;
}
#main_prompt {
    font-size: 4vmax;
    font-color: 9288c5;
    background: transparent;
    height: 90vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;

}
